
main img{
    height: auto;
    width: 50%;

}

.place{
    display: flex;
    flex-direction: column;
}

.box01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.box02{
    display: flex;
    justify-content: space-between;
}

.txt{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    color: white;
}